{% extends 'base_accounts.html' %} {% block content %}


<div class="row p-5">
    <p><strong> your password reseted successfully! </strong></p>
    <div class="col-sm-12 text-center">
        <a href="{% url 'accounts:login' %}">
        <button class="btn btn-primary btn-md" href="{% url 'website:index' %}">go to login page</button>
    </a> 
        <a href="{% url 'website:index' %}">
        <button class="btn btn-danger btn-md" href="{% url 'accounts:login' %}">return to home page</button>
    </a>
    </div>
</div>



{% endblock content %}
