{% load static %}

<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/profile.jpg' %}" alt="" style="max-width: 200px; max-height: 200px; border-radius: 100px;" />
    <a href="#"><h4>Ali Mohammadinezhad</h4></a>
    <p>Senior blog writer</p>
    <p>
      Boot camps have its supporters andit sdetractors. Some people do
      not understand why you should have to spend money on boot camp
      when you can get. Boot camps have itssuppor ters andits
      detractors.
    </p>
  </div>